## Data Import

In [ ]:
### Packages

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
### Data loading

df_demographics = pd.read_excel('Telco_customer_churn_demographics.xlsx')
df_location = pd.read_excel('Telco_customer_churn_location.xlsx')
df_services = pd.read_excel('Telco_customer_churn_services.xlsx')
df_status = pd.read_excel('Telco_customer_churn_status.xlsx')

In [ ]:
### Merge function

def safe_merge(df_left, df_right):
    common_cols = set(df_left.columns) & set(df_right.columns) - {'Customer ID'}
    df_right_clean = df_right.drop(columns=common_cols)
    return df_left.merge(df_right_clean, on='Customer ID', how='outer')

df_merged = safe_merge(df_demographics, df_location)
df_merged = safe_merge(df_merged, df_services)
df_merged = safe_merge(df_merged, df_status)

In [ ]:
### Merged data

df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 55 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer ID                        7043 non-null   object
 1   Count                              7043 non-null   int64
 2   Gender                             7043 non-null   object
 3   Age                                7043 non-null   int64
 4   Under 30                           7043 non-null   object
 5   Senior Citizen                     7043 non-null   object
 6   Married                            7043 non-null   object
 7   Dependents                         7043 non-null   object
 8   Number of Dependents               7043 non-null   int64
 9   Location ID                        7043 non-null   object
 10  Country                            7043 non-null   object
 11  State                              7043 non-null   object
 12  City                               7043 non-null   object
 13  Zip Code                           7043 non-null   int64
 14  Lat Long                           7043 non-null   object
 15  Latitude                           7043 non-null   float64
 16  Longitude                          7043 non-null   float64
 17  Service ID                         7043 non-null   object
 18  Quarter                            7043 non-null   object
 19  Referred a Friend                  7043 non-null   object
 20  Number of Referrals                7043 non-null   int64
 21  Tenure in Months                   7043 non-null   int64
 22  Offer                              3166 non-null   object
 23  Phone Service                      7043 non-null   object
 24  Avg Monthly Long Distance Charges  7043 non-null   float64
 25  Multiple Lines                     7043 non-null   object
 26  Internet Service                   7043 non-null   object
 27  Internet Type                      5517 non-null   object
 28  Avg Monthly GB Download            7043 non-null   int64
 29  Online Security                    7043 non-null   object
 30  Online Backup                      7043 non-null   object
 31  Device Protection Plan             7043 non-null   object
 32  Premium Tech Support               7043 non-null   object
 33  Streaming TV                       7043 non-null   object
 34  Streaming Movies                   7043 non-null   object
 35  Streaming Music                    7043 non-null   object
 36  Unlimited Data                     7043 non-null   object
 37  Contract                           7043 non-null   object
 38  Paperless Billing                  7043 non-null   object
 39  Payment Method                     7043 non-null   object
 40  Monthly Charge                     7043 non-null   float64
 41  Total Charges                      7043 non-null   float64
 42  Total Refunds                      7043 non-null   float64
 43  Total Extra Data Charges           7043 non-null   int64
 44  Total Long Distance Charges        7043 non-null   float64
 45  Total Revenue                      7043 non-null   float64
 46  Status ID                          7043 non-null   object
 47  Satisfaction Score                 7043 non-null   int64
 48  Customer Status                    7043 non-null   object
 49  Churn Label                        7043 non-null   object
 50  Churn Value                        7043 non-null   int64
 51  Churn Score                        7043 non-null   int64
 52  CLTV                               7043 non-null   int64
 53  Churn Category                     1869 non-null   object
 54  Churn Reason                       1869 non-null   object
dtypes: float64(8), int64(12), object(35)
memory usage: 3.0+ MB

In [ ]:
## Checking duplicates

df_merged.duplicated().sum()

np.int64(0)

In [ ]:
## Target distribution

df_merged['Churn Label'].value_counts(normalize=True)

Churn Label
No     0.73463
Yes    0.26537
Name: proportion, dtype: float64

In [ ]:
## Checking nulls

df_merged.isna().sum()

Customer ID                             0
Count                                   0
Gender                                  0
Age                                     0
Under 30                                0
Senior Citizen                          0
Married                                 0
Dependents                              0
Number of Dependents                    0
Location ID                             0
Country                                 0
State                                   0
City                                    0
Zip Code                                0
Lat Long                                0
Latitude                                0
Longitude                               0
Service ID                              0
Quarter                                 0
Referred a Friend                       0
Number of Referrals                     0
Tenure in Months                        0
Offer                                3877
Phone Service                           0
Avg Monthly Long Distance Charges       0
Multiple Lines                          0
Internet Service                        0
Internet Type                        1526
Avg Monthly GB Download                 0
Online Security                         0
Online Backup                           0
Device Protection Plan                  0
Premium Tech Support                    0
Streaming TV                            0
Streaming Movies                        0
Streaming Music                         0
Unlimited Data                          0
Contract                                0
Paperless Billing                       0
Payment Method                          0
Monthly Charge                          0
Total Charges                           0
Total Refunds                           0
Total Extra Data Charges                0
Total Long Distance Charges             0
Total Revenue                           0
Status ID                               0
Satisfaction Score                      0
Customer Status                         0
Churn Label                             0
Churn Value                             0
Churn Score                             0
CLTV                                    0
Churn Category                       5174
Churn Reason                         5174
dtype: int64

In [ ]:
### Filling null values

df_merged['Offer'] = df_merged['Offer'].fillna('No')
df_merged['Internet Type'] = df_merged['Internet Type'].fillna('No')
df_merged['Churn Category'] = df_merged['Churn Category'].fillna('No')
df_merged['Churn Reason'] = df_merged['Churn Reason'].fillna('No')

In [ ]:
### Dropping columns

cols_to_drop = ['Customer ID', 'Count', 'Under 30', 'Dependents',
                'Location ID', 'Country', 'State', 'Lat Long', 'City',
                'Zip Code', 'Latitude', 'Longitude', 'Service ID',
                'Quarter', 'Referred a Friend', 'Internet Service',
                'Status ID', 'Customer Status', 'Churn Label']

df_merged = df_merged.drop(columns=cols_to_drop)

In [ ]:
### Official data

df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 36 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Gender                             7043 non-null   object
 1   Age                                7043 non-null   int64
 2   Senior Citizen                     7043 non-null   object
 3   Married                            7043 non-null   object
 4   Number of Dependents               7043 non-null   int64
 5   Number of Referrals                7043 non-null   int64
 6   Tenure in Months                   7043 non-null   int64
 7   Offer                              7043 non-null   object
 8   Phone Service                      7043 non-null   object
 9   Avg Monthly Long Distance Charges  7043 non-null   float64
 10  Multiple Lines                     7043 non-null   object
 11  Internet Type                      7043 non-null   object
 12  Avg Monthly GB Download            7043 non-null   int64
 13  Online Security                    7043 non-null   object
 14  Online Backup                      7043 non-null   object
 15  Device Protection Plan             7043 non-null   object
 16  Premium Tech Support               7043 non-null   object
 17  Streaming TV                       7043 non-null   object
 18  Streaming Movies                   7043 non-null   object
 19  Streaming Music                    7043 non-null   object
 20  Unlimited Data                     7043 non-null   object
 21  Contract                           7043 non-null   object
 22  Paperless Billing                  7043 non-null   object
 23  Payment Method                     7043 non-null   object
 24  Monthly Charge                     7043 non-null   float64
 25  Total Charges                      7043 non-null   float64
 26  Total Refunds                      7043 non-null   float64
 27  Total Extra Data Charges           7043 non-null   int64
 28  Total Long Distance Charges        7043 non-null   float64
 29  Total Revenue                      7043 non-null   float64
 30  Satisfaction Score                 7043 non-null   int64
 31  Churn Value                        7043 non-null   int64
 32  Churn Score                        7043 non-null   int64
 33  CLTV                               7043 non-null   int64
 34  Churn Category                     7043 non-null   object
 35  Churn Reason                       7043 non-null   object
dtypes: float64(6), int64(10), object(20)
memory usage: 1.9+ MB

In [ ]:
### Copied Data

df_copied = df_merged.copy()

## Data Manipulation

### One-hot Encoding

In [ ]:
### One-hot Encoding

df_encoded_v1 = pd.get_dummies(df_copied,
                               columns = df_copied.select_dtypes(include='object').columns.tolist(),
                               drop_first=True)

df_encoded_v1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 67 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Age                                                     7043 non-null   int64
 1   Number of Dependents                                    7043 non-null   int64
 2   Number of Referrals                                     7043 non-null   int64
 3   Tenure in Months                                        7043 non-null   int64
 4   Avg Monthly Long Distance Charges                       7043 non-null   float64
 5   Avg Monthly GB Download                                 7043 non-null   int64
 6   Monthly Charge                                          7043 non-null   float64
 7   Total Charges                                           7043 non-null   float64
 8   Total Refunds                                           7043 non-null   float64
 9   Total Extra Data Charges                                7043 non-null   int64
 10  Total Long Distance Charges                             7043 non-null   float64
 11  Total Revenue                                           7043 non-null   float64
 12  Satisfaction Score                                      7043 non-null   int64
 13  Churn Value                                             7043 non-null   int64
 14  Churn Score                                             7043 non-null   int64
 15  CLTV                                                    7043 non-null   int64
 16  Gender_Male                                             7043 non-null   bool
 17  Senior Citizen_Yes                                      7043 non-null   bool
 18  Married_Yes                                             7043 non-null   bool
 19  Offer_Offer A                                           7043 non-null   bool
 20  Offer_Offer B                                           7043 non-null   bool
 21  Offer_Offer C                                           7043 non-null   bool
 22  Offer_Offer D                                           7043 non-null   bool
 23  Offer_Offer E                                           7043 non-null   bool
 24  Phone Service_Yes                                       7043 non-null   bool
 25  Multiple Lines_Yes                                      7043 non-null   bool
 26  Internet Type_DSL                                       7043 non-null   bool
 27  Internet Type_Fiber Optic                               7043 non-null   bool
 28  Internet Type_No                                        7043 non-null   bool
 29  Online Security_Yes                                     7043 non-null   bool
 30  Online Backup_Yes                                       7043 non-null   bool
 31  Device Protection Plan_Yes                              7043 non-null   bool
 32  Premium Tech Support_Yes                                7043 non-null   bool
 33  Streaming TV_Yes                                        7043 non-null   bool
 34  Streaming Movies_Yes                                    7043 non-null   bool
 35  Streaming Music_Yes                                     7043 non-null   bool
 36  Unlimited Data_Yes                                      7043 non-null   bool
 37  Contract_One Year                                       7043 non-null   bool
 38  Contract_Two Year                                       7043 non-null   bool
 39  Paperless Billing_Yes                                   7043 non-null   bool
 40  Payment Method_Credit Card                              7043 non-null   bool
 41  Payment Method_Mailed Check                             7043 non-null   bool
 42  Churn Category_Competitor                               7043 non-null   bool
 43  Churn Category_Dissatisfaction                          7043 non-null   bool
 44  Churn Category_No                                       7043 non-null   bool
 45  Churn Category_Other                                    7043 non-null   bool
 46  Churn Category_Price                                    7043 non-null   bool
 47  Churn Reason_Attitude of support person                 7043 non-null   bool
 48  Churn Reason_Competitor had better devices              7043 non-null   bool
 49  Churn Reason_Competitor made better offer               7043 non-null   bool
 50  Churn Reason_Competitor offered higher download speeds  7043 non-null   bool
 51  Churn Reason_Competitor offered more data               7043 non-null   bool
 52  Churn Reason_Deceased                                   7043 non-null   bool
 53  Churn Reason_Don't know                                 7043 non-null   bool
 54  Churn Reason_Extra data charges                         7043 non-null   bool
 55  Churn Reason_Lack of affordable download/upload speed   7043 non-null   bool
 56  Churn Reason_Lack of self-service on Website            7043 non-null   bool
 57  Churn Reason_Limited range of services                  7043 non-null   bool
 58  Churn Reason_Long distance charges                      7043 non-null   bool
 59  Churn Reason_Moved                                      7043 non-null   bool
 60  Churn Reason_Network reliability                        7043 non-null   bool
 61  Churn Reason_No                                         7043 non-null   bool
 62  Churn Reason_Poor expertise of online support           7043 non-null   bool
 63  Churn Reason_Poor expertise of phone support            7043 non-null   bool
 64  Churn Reason_Price too high                             7043 non-null   bool
 65  Churn Reason_Product dissatisfaction                    7043 non-null   bool
 66  Churn Reason_Service dissatisfaction                    7043 non-null   bool
dtypes: bool(51), float64(6), int64(10)
memory usage: 1.2 MB

### Label encoding

In [ ]:
### Label Encoding

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

df_encoded_v2 = df_copied.copy()

for col in df_encoded_v2.select_dtypes(include='object'):
    df_encoded_v2[col] = le.fit_transform(df_encoded_v2[col])

df_encoded_v2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 36 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Gender                             7043 non-null   int64
 1   Age                                7043 non-null   int64
 2   Senior Citizen                     7043 non-null   int64
 3   Married                            7043 non-null   int64
 4   Number of Dependents               7043 non-null   int64
 5   Number of Referrals                7043 non-null   int64
 6   Tenure in Months                   7043 non-null   int64
 7   Offer                              7043 non-null   int64
 8   Phone Service                      7043 non-null   int64
 9   Avg Monthly Long Distance Charges  7043 non-null   float64
 10  Multiple Lines                     7043 non-null   int64
 11  Internet Type                      7043 non-null   int64
 12  Avg Monthly GB Download            7043 non-null   int64
 13  Online Security                    7043 non-null   int64
 14  Online Backup                      7043 non-null   int64
 15  Device Protection Plan             7043 non-null   int64
 16  Premium Tech Support               7043 non-null   int64
 17  Streaming TV                       7043 non-null   int64
 18  Streaming Movies                   7043 non-null   int64
 19  Streaming Music                    7043 non-null   int64
 20  Unlimited Data                     7043 non-null   int64
 21  Contract                           7043 non-null   int64
 22  Paperless Billing                  7043 non-null   int64
 23  Payment Method                     7043 non-null   int64
 24  Monthly Charge                     7043 non-null   float64
 25  Total Charges                      7043 non-null   float64
 26  Total Refunds                      7043 non-null   float64
 27  Total Extra Data Charges           7043 non-null   int64
 28  Total Long Distance Charges        7043 non-null   float64
 29  Total Revenue                      7043 non-null   float64
 30  Satisfaction Score                 7043 non-null   int64
 31  Churn Value                        7043 non-null   int64
 32  Churn Score                        7043 non-null   int64
 33  CLTV                               7043 non-null   int64
 34  Churn Category                     7043 non-null   int64
 35  Churn Reason                       7043 non-null   int64
dtypes: float64(6), int64(30)
memory usage: 1.9 MB